html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#log-container {
    overflow: auto;
    background-color: #000000;
    font-size: 0.75rem;
}

.log-warn {
    color: orange;
}

.log-error {
    color: red;
}

.log-info {
    color: skyblue;
}

.log-log {
    color: white;
}

.log-debug {
    color: yellow;
}

.log-lms {
    color: green;
}

.log-warn, .log-error {
    font-weight: bold;
}