.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-background-surface-color);
}

.featureCard {
  padding: 2rem;
  text-align: center;
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.featureTitle {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: var(--ifm-heading-color);
}

.featureDescription {
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--ifm-color-emphasis-700);
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }

  .featureCard {
    padding: 1.5rem 1rem;
  }
}
